# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code 
.vscode/ 
# PyCharm 
.idea/

# Streamlit
.streamlit/secrets.toml

#troubleshooting
app(backup).py
manual_troubleshooting.ipynb
imda_vectordb_manual
imda_vectordb_manual/
imda_vectordb
imda_vectordb/
projalpha3.11
projalpha3.11/
projectalpha3.11v2
projectalpha3.11v2/
projalpha
projalpha*/
.excalidraw
.csv
.devcontainer/
.bk*
.bk