Authlib
beautifulsoup4
chromadb==0.5.23
crewai==0.140.0
crewai-tools==0.55.0
google-auth
ipykernel
langchain
langchain-openai
langchain_community
openai
pandas
selenium
streamlit
tiktoken
python-dotenv
sentence_transformers
streamlit-oauth
requests
tokenizers
webdriver-manager
tavily-python
pysqlite3-binary
pytz