Authlib
beautifulsoup4
chromadb
crewai
crewai-tools
google-auth
ipykernel
langchain
langchain-openai
langchain_community
openai
pandas
redis
redisvl
selenium
streamlit
tiktoken
python-dotenv
sentence_transformers
streamlit-oauth
requests
tokenizers
webdriver-manager
tavily-python
chromium-browser
chromedriver-autoinstaller